@import '../../variables.scss';

.plan {
  height: auto;
  background-color: $pink;
  display: flex;
  padding: 50px 200px;
}
.plan-section-1 {
  width: 45%;
  margin-right: 5%; 
  .plan-title {
    font-size: 56px;
    margin: 0;
  }
  .red {
    color: $red;
  }
  .price {
    display: flex;
    padding-top: 30px;
    h3 {
      font-size: 40px;
      margin: 20px 0;
    }
    .price-item {
      width: 50%;
      justify-content: space-between;
    }
    .pdv {
      font-size: 14px;
      vertical-align: top;
      color: $gray-pdv;
    }
  }
}
.plan-section-2 {
  width: 50%;
  .questions {
    font-size: 36px;
  }
  .bold-paragraph {
    font-weight: 900;
    padding-top: 18px;
  }
}
.conference-button{
  font-size: 12px;
  background-color: $red;
  color: $white;
  padding: 5px 7px;
  border-radius: 5px;
  cursor: pointer;
}
.classroom-button {
  font-size: 12px;
  background-color: $red;
  color: $white;
  padding: 5px 7px;
  border-radius: 5px;
  cursor: pointer;
}
.plan-button {
  font-size: 14px;
  background-color: $black;
  color: $white;
  padding: 7px 10px;
  border-radius: 5px;
  cursor: pointer;
}
