@import '../../styles/variables.scss';

.plan {
  height: auto;
  background-color: $pink-1;
  display: flex;
  padding: 50px 200px;
  @include responsive(big-screen) {
    padding: 30px 100px;
  }
  @include responsive(tab-port) {
    flex-direction: column;
    padding: 30px 50px;
  }
  &--section--1 {
    width: 45%;
    margin-right: 5%;
    @include responsive(tab-port) {
      width: 100%;
      margin-right: 0;
    }
    .plan--title {
      font-size: 56px;
      margin: 0;
      @include responsive(tab-land) {
        font-size: 36px;
      }
    }
    .red {
      color: $red;
    }
    .price {
      display: flex;
      flex-direction: row;
      padding-top: 30px;
      @include responsive(phone) {  
        flex-direction: column;
      }
      &--item {
        width: 50%;
        justify-content: space-between;
        @include responsive(phone) {  
          width: 100%;
        }
        h3 {
          font-size: 40px;
          margin: 20px 0;
          @include responsive(tab-land) {
            font-size: 20px;
          }
          .pdv {
            font-size: 14px;
            vertical-align: top;
            color: $gray-10;
            @include responsive(tab-land) {
              font-size: 12px;
            }
          }
        }
        &--conference--button{
          font-size: 12px;
          color: $white;
          padding: 5px 7px;
          border-radius: 5px;
          outline: 0;
          cursor: pointer;
        }
        &--classroom--button {
          font-size: 12px;
          color: $white;
          padding: 5px 7px;
          border-radius: 5px;
          outline: 0;
          cursor: pointer;
        }
        &--plan--button {
          font-size: 14px;
          background-color: $black-1;
          color: $white;
          padding: 7px 10px;
          border-radius: 5px;
          outline: 0;
          cursor: pointer;
        }
      }
    }
  }
  &--section--2 {
    width: 50%;
    @include responsive(tab-port) {
      width: 100%;
      padding-top: 20px;
    }
    h3 {
      font-size: 36px;
      margin: 0;
    }
    .bold--paragraph {
      font-weight: 900;
      padding-top: 18px;
    }
  }
}
