@import '../../../../styles/variables.scss';

.class--close {
  position: absolute;
  width: 30%;
  height: 80%;
  top: 10%;
  left: 35%;
  color: $black-3;
  .display {
    width: 100%;
    padding: 20px;
    background-color: $gray-2;
    h1 {
      font-size: 52px;
      margin: 0;
    }
    p {
      font-size: 24px;
    }
    button {
      font-size: 14px;
      background-color: $black-3;
      color: $white;
      margin: 20px auto 0 auto;
      padding: 7px 10px;
      border-radius: 5px;
      display: block;
      cursor: pointer;
    }
  }
  .card--footer {
    font-size: 14px;
    padding-top: 10px;
    color: $white;
  }
}