@import '../../../../styles/variables.scss';

.class--step--three {
  position: absolute;
  width: 60%;
  height: 80%;
  top: 10%;
  left: 20%;
  color: $white;
  h1 {
    font-size: 52px;
    margin: 0;
  }
  h2 {
    font-size: 24px;
    font-weight: 100;
    margin: 0;
  }
  .card--footer {
    font-size: 14px;
    padding-top: 10px;
  }
  .display {
    display: flex;
    flex-direction: row;
    color: $black-3;
    padding-top: 20px;;
    &--item--1 {
      width: 40%;
      padding: 20px;
      background-color: $white;
      label {
        width: 100%;
        font-weight: bold;
      }
      textarea, select {
        width: 100%;
        background-color: $gray-11;
        padding: 10px;
        margin: 10px 0 20px;
        box-sizing : border-box;
        border: 1px solid $gray-4;
        border-radius: 3px;
        margin-bottom: 0;
      }
      button {
        font-size: 14px;
        background-color: $black-3;
        color: $white;
        margin-top: 20px;
        padding: 7px 10px;
        border-radius: 5px;
        cursor: pointer;
      }
      p {
        color: $red;
        margin: 0;
        padding-bottom: 5px;
      }
      span {
        margin-bottom: 10px;
      }
      .price {
        font-size: 12px;
        color: $gray-6;
        margin: 0;
      }
    }
    &--item--2 {
      width: 60%;
      padding: 20px;
      background-color: $gray-2;
      color: $black-3;
      p {
        font-size: 16px;
        font-weight: bold;
        line-height: 6px;
      }
      h1 {
        font-size: 32px;
      }
      h2 {
        font-size: 24px;
      }
      .red--text {
        color: $red;
      }
      .green--text {
        color: $green-1;
      }
      .hr--line {
        border: 1px solid $gray-6;
      }
      .pdv {
        font-size: 14px;
        vertical-align: top;
        color: $gray-10;
      }
    }
  }
}