// Colors

$white: #FFFFFF;
$gray-1: #F9F9F9;
$gray-2: #F6F6F6;
$gray-3: #8888881A;
$gray-4: #00000019;
$gray-5: #EBEBEB;
$gray-6: #AAAAAB;
$gray-7: #00000041;
$gray-8: #919191;
$gray-9: #7A7A7A;
$gray-10: #727273;
$gray-11: #17161A0D;
$green-1: #5ECC00;
$green-2: #88D81C;
$red: #F47064;
$pink-1: #FFF3F1;
$pink-2: #F2E8E6;
$black-1: #000000;
$black-2: #1A191D;
$black-3: #17161A;
$black-4: #162024;
$black-5: #22171B;
$black-6: #2A2A2A;
