@import '../../styles/variables.scss';

.navigation {
  width: 100%;
  padding: 15px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  &--followus {
    position: fixed;
    transform: rotate(-90deg);
    top: 50%;
    right: -4%;
    z-index: 10;
    @include responsive(tab-port) {
      right: -10%;
    }
    @include responsive(phone) {
      right: -18%;
    }
    h4 {
      font-size: 16px;
      color: $red;
      line-height: 20px;
    }
  }
  &--left {
    display: flex;
    align-self: center;
    padding: 10px 0 10px 40px;
    @include responsive(phone) {
      padding-left: 20px;
    }
    &--menu{
      align-self: center;
      padding-right: 10px;
      .menu {
        display: flex;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: $gray-1;
        cursor: pointer;
        &--lines {
          line-height: 50px;
          align-self: center;
          margin: auto;
          &--line {
            width: 25px;
            height: 3px;
            background-color: $black-5;
            margin: 4px auto;
          }
        }
      }
    }
    p {
      margin: -10px;
      font-size: 20px;
      font-weight: 700;
      color: $black-4;
      padding-left: 20px;
    }
    .conference--text {
      color: $red;
    }
  }
  
  &--right {
    align-self: center;
    padding-right: 40px;
    @include responsive(phone) {
      padding-right: 20px;
    }
    button {
      font-size: 14px;
      background-color: $black-3;
      color: $white;
      padding: 7px 10px;
      border-radius: 5px;
      cursor: pointer;
    }
  }
}
