@import '../../styles/variables.scss';

.home {
  min-height: 80vh;
  background-color: $white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 50px 200px;
  &--text {
    align-self: flex-end;
    width: 50%;
    h2 {
      font-size: 60px;
      margin: 20px 0;
      color: $black-3;
    }
    p {
      font-size: 16px;
      color: $black-1;
    }
  }
  &--image {
    align-self: flex-start;
    width: 50%;
    img {
      height: 550px;float: right;
    }
  }
}