@import '../../variables.scss';

.contact {
  height: auto;
  background-color: $black;
  color: $white;
}
.contact-details {
  display: flex;
}
.contact-section-1 {
  img {
    width: 100%;
    height: 500px;
    object-fit: cover;
  }
}
.contact-section-2 {
  width: 50%;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.contact-section-3 {
  width: 50%;
  display: flex;
  justify-content: space-between;
  padding: 50px 200px 50px 40px;
  .gray-paragraph {
    color: $gray-paragraph;
    font-size: 14px;
  }
}