@import '../../styles/variables.scss';

.why {
  height: auto;
  background-color: $gray-1;
  display: flex;
  flex-direction: row;
  padding: 50px 200px;
  @include responsive(big-screen) {
    padding: 30px 100px;
  }
  @include responsive(tab-port) {
    flex-direction: column;
    padding: 30px 50px;
  }
  &--container--1 {
    width: 50%;
    @include responsive(tab-port) {
      width: 100%;
    }
    h2 {
      font-size: 40px;
    }
  }
  &--container--2 {
    width: 50%;
    @include responsive(tab-port) {
      width: 100%;
    }
    .why--section--1 {
      display: flex;
      flex-direction: row;
      @include responsive(phone) {  
        flex-direction: column;
      }
      .hr--line {
        border: 1px solid $gray-6;
      }
    }
    .why--section--2 {
      display: flex;
      flex-direction: row;
      @include responsive(phone) {  
        flex-direction: column;
      }
    }
    .why--item {
      width: 50%;
      padding: 10px;
      @include responsive(phone) {  
        width: 100%;
      }
    }
  }
}
